/*
 * App Global SCSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used to import other SCSS files to be included in the output CSS.
 */
