@import './quick-sale.component.scss';

.cart-card {
  margin-top: 1rem;
}

.cart-quantity {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.75rem;

  ion-button {
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
    min-width: 36px;
  }
}

.cart-quantity-value {
  min-width: 32px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.cart-total {
  min-width: 90px;
  text-align: right;
  font-weight: 600;
  font-size: 0.95rem;
}

